<button
  class="reset-button"
  mat-button color="primary"
  (click)="reset()"
>Zacznij od nowa
</button>

<div
  class="container"
  [formGroup]="form"
>
  <h2>{{ questions[currentIndex].text }}</h2>
  <!--  <mat-form-field *ngIf="!questions[currentIndex].isYesNoQuestion">-->
  <!--    <mat-label>Answer</mat-label>-->
  <!--    <input-->
  <!--      matInput-->
  <!--      formControlName="textAnswer"-->
  <!--      [matAutocomplete]="auto"-->
  <!--    >-->
  <!--    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
  <!--      <mat-option-->
  <!--        *ngFor="let option of autocompleteOptions | async"-->
  <!--        [value]="option.name"-->
  <!--      >-->
  <!--        {{ option.name }}-->
  <!--      </mat-option>-->
  <!--    </mat-autocomplete>-->
  <!--  </mat-form-field>-->
  <ng-select
    *ngIf="!questions[currentIndex].isYesNoQuestion"
    notFoundText="Nie znaleziono"
    formControlName="textAnswer"
    placeholder="Wpisz min.3 znaki"
    [clearable]="true"
    [searchable]="true"
    [multiple]="questions[currentIndex].multiple || false"
    [items]="questions[currentIndex].staticValues ? (questions[currentIndex].staticValues || []) : autocompleteOptions | async"
    [searchWhileComposing]="false"
    [searchFn]="searchFn"
    (search)="updateAutoComplete($event.term)"
  >
    <ng-template
      ng-label-tmp
      ng-option-tmp
      let-item="item"
    >
      <div class="ng-select-label">
        <div class="ng-select-option__desc">
          <h4>{{ item.name }}</h4>
        </div>
      </div>
    </ng-template>
  </ng-select>
  <ng-container *ngIf="questions[currentIndex].isYesNoQuestion">
    <mat-radio-group
      formControlName="booleanAnswer"
      color="primary"
      class="boolean-answer"
    >
      <mat-radio-button [value]="true">Tak</mat-radio-button>
      <mat-radio-button [value]="false">Nie</mat-radio-button>
      <mat-radio-button
        *ngIf="questions[currentIndex].hasNullOption"
        [value]="null"
      >
        Nie wiem
      </mat-radio-button>
    </mat-radio-group>
  </ng-container>
  <div class="buttons-container">
    <button
      mat-button
      class="submit-button"
      color="accent"
      type="button"
      (click)="onSubmitQuestion()"
    >
      Dalej
    </button>

    <button
      *ngIf="!questions[currentIndex].isYesNoQuestion && questions[currentIndex].hasNullOption"
      mat-button
      class="skip-button"
      color="primary"
      type="button"
      (click)="onSubmitQuestion(true)"
    >
      Nie wiem
    </button>
  </div>
</div>
