$md-palette: (
  50 : #e4f3f2,
  100 : #bce1de,
  200 : #90cec8,
  300 : #64bab1,
  400 : #42aba1,
  500 : #219c90,
  600 : #1d9488,
  700 : #188a7d,
  800 : #148073,
  900 : #0b6e61,
  A100 : #a1fff0,
  A200 : #6effe9,
  A400 : #3bffe1,
  A700 : #21ffdd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
