$md-palette: (
  50 : #fae4e8,
  100 : #f2bcc5,
  200 : #ea909e,
  300 : #e16477,
  400 : #da425a,
  500 : #d4213d,
  600 : #cf1d37,
  700 : #c9182f,
  800 : #c31427,
  900 : #b90b1a,
  A100 : #ffe5e7,
  A200 : #ffb3b7,
  A400 : #ff8087,
  A700 : #ff666f,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
